.footer {
    background-color: rgba(223, 223, 223, 0.8);
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
}
.footer p {
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: "League Spartan", sans-serif;
}
